*{
    margin: 0;
	padding: 0;
}
body{
	background: #f3f3f3;
	color: #000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.contenedor{

    width: 90%;
	max-width: 1024px;
	margin: 20px auto;

    display: grid;
    grid-gap: 20px;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:  repeat(8, auto);

    grid-template-areas: "header header header header"
					      "nav nav nav nav"
					      "imgR imgR  imgR imgC"
					      "top1 top2 top3 top4"
						  "cat1 cat1 cat2 cat2"
						  "cat3 cat3 cat3 cat3"
						  "sponsor sponsor sponsor sponsor"
					      "footer footer footer footer";

}

.contenedor .navText{
	
	text-indent: 1em;
}

.contenedor > section,
.contenedor .cabecera,
.contenedor .menuNavegacion,
.contenedor .footer{

    background: #fff;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .cabecera {
	background: #12203E;
	color: #fff;
	grid-area: header;
}
.contenedor .menuNavegacion {
	background: #a4a7ad;
	color: #fff;
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}




.contenedor .imgReciente{
    background: #333;;
	color: #fff;
	grid-area: imgR;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; 
}

.contenedor .imgCategoria{
    background: rgb(102, 7, 7);
	color: #fff;
	grid-area: imgC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; 
}

.contenedor .imgTop1, 
.contenedor .imgTop2,
.contenedor .imgTop3,
.contenedor .imgTop4
{
	background: #55a8fd;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.contenedor .imgTop1{
	grid-area: top1;
}
.contenedor .imgTop2{
	grid-area: top2;
}
.contenedor .imgTop3{
	grid-area: top3;
}
.contenedor .imgTop4{
	grid-area: top4;
}

.contenedor .categoria1,
.contenedor .categoria2,
.contenedor .categoria3
{
	background: #046e4b;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px;
}

.contenedor .categoria1{
	grid-area: cat1;
	
}
.contenedor .categoria2{
	grid-area: cat2;
	
}
.contenedor .categoria3{
	grid-area: cat3;
	
}
.contenedor .auspicio{
	grid-area: sponsor;
	background: #12203E;
	color: #fff;
}

.contenedor .footer{
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 568px){
	.contenedor{
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows:  repeat(11, auto);
    
        grid-template-areas: "header header"
                              "nav nav"
                              "imgR imgR"
                              "imgC imgC"
                              "top1 top2"
                              "top3 top4"
                              "cat1 cat1"
                              "cat2 cat2"
                              "cat3 cat3"
                              "sponsor sponsor"
                              "footer footer";
	}
    .contenedor .imgCategoria{
        background: rgb(102, 7, 7);
        color: #fff;
        grid-area: imgC;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px; 
    }
    
}